/* 
    Author: Jaymart G. Latigay
    Date: February 20, 2023
    Course: CMSC 100 UV-4L 
    Exercise # 1

    For: application of Git and Github learnings, as well as making a github page live

     Source: https://www.youtube.com/watch?v=4XmhtbcMWEY
 */



body{
   margin: 0;
   padding: 0; 
   background: url(background.webp) no-repeat;
   background-size: cover;
}

.box{
    width: 450px;
    background: rgba(0,0,0,0.4);
    padding: 40px;
    text-align: center;
    margin: auto;
    margin-top: 5%;
    color: white;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.box-img{
    border-radius: 50%;
    width: 200px;
    height: 200px;

}